* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: #1c93f55d;
	
}
body {
	font-family: 'Open Sans', sans-serif;
}

.contenedor {
	max-width: 90%;
	width: 500px;
	margin: 80px auto;
}

.formulario input {
	padding: 20px;
	border: black 10px ;
	background: #2e729242;
	width: 100%;
	border-radius: 10px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	font-size: 20px;
	margin-bottom: 20px;
	font-family: 'Open Sans', sans-serif;
}

.formulario .btn {
	width: 100%;
	border: none;
	background: rgba(1, 15, 59, 0.897);
	color: #fff;
	cursor: pointer;
	padding: 20px;
	font-size: 20px;
	border-radius: 10px;
	font-family: 'Open Sans', sans-serif;
}

.formulario .btn:hover {
	background: #0cc006ea;
}

.contenedorQR {
	display: flex;
	justify-content: center;
	padding: 40px 0;
}